<section class="card meetings cf">
  <h1>Add a Meeting</h1>
  <form class= "addmeeting" name="myForm" ng-submit="addMeeting()" novalidate>
    <div class="inputwrapper 2 columns">
      <input type="text" name="meetingname" ng-model="meetingname" placeholder="Meeting name" ng-required="true">
    </div>
    <button type="submit" class="button" ng-disabled="myForm.$invalid">+</button>
  </form>
  <h2>Your meetings</h2>
  <div class="meeting" ng-repeat="(key, meeting) in session.meetings">
   {{ meeting.name }}
    <button class="button tiny" ng-click="deleteMeeting(key)">Delete</button>
  </div>
</section>